.about{padding: 20px;}
#body, html{margin: 20px; padding: 0; height: 100%; overflow: hidden;}
.content{ position:absolute; left: 0%; right: 0%; bottom: 0%; top: 0%;}
#over {position:relative;}
p{font-size: 1.5em; color: white;}
